<div id="<%= dom_id item_category %>">
  <p>
    <strong>Menu:</strong>
    <%= item_category.menu_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item_category.category_id %>
  </p>

</div>
