<p style="color: green"><%= notice %></p>

<h1>Categories <%= link_to "New category", new_category_path, class: "btn btn-success" %></h1>

<div class="table">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Tools</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td>
            <%= link_to "Show this category", category %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>